@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');

@import "mono";

.parallax {
    perspective: 1rem;
    overflow-x: hidden;
    background: hsl(234, 100%, 5%);

    #particles {
        position: absolute;
        height: 120vh;
        width: 100vw;
        z-index: -1;
        overflow-x: hidden;
        transform: translateZ(-1rem) scale(2);
    }

    .wave {
        margin-top: -.55vh;
    }
}
