@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('JetBrains Mono Regular'), url('/fonts/JetbrainsMonoRegular.woff') format('woff');
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: local('JetBrains Mono Italic'), url('/fonts/JetbrainsMonoItalic.woff') format('woff');
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('JetBrains Mono Medium'), url('/fonts/JetbrainsMonoMedium.woff') format('woff');
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: local('JetBrains Mono Medium Italic'), url('/fonts/JetbrainsMonoMediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local('JetBrains Mono Bold'), url('/fonts/JetbrainsMonoBold.woff') format('woff');
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: local('JetBrains Mono Bold Italic'), url('/fonts/JetbrainsMonoBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('JetBrains Mono ExtraBold'), url('/fonts/JetbrainsMonoExtrabold.woff') format('woff');
}


@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local('JetBrains Mono ExtraBold Italic'), url('/fonts/JetbrainsMonoExtraboldItalic.woff') format('woff');
}
